<!-- Clients Aside -->
 <section id="clients">
        <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                <h3 class="section-heading">Testimonials</h3>
                 <p class="large text-muted">"Thank you so much to @andrewnyuchicamera for these INCREDIBLE photos! I've never felt so cool in my life  😎🙏" - Kirsty</p>
                <p class="large text-muted">"You’re such great photographers!! I like those photos so much!! Probably the best set of portrait I’ve ever had😍😍" - Catherine </p>
                  <p class="large text-muted">"One of the best photographers in town!" - Weiyi </p>
                 <p class="large text-muted">"Bravo, what a great photo! 🤩 I particularly like the colours. ✌️" - Thorsten</p>
                </div>
            </div>
            </div>
        </div>
</section>