<html>
<head>
<style>

div.transbox {
  margin: 50px 250px 50px 250px ;
  background-color: #ffffff;
  border: 0;
  opacity: 0.9;
}

div.transbox p {
  margin: 0;
  font-weight: bold;
  color: #000000;
}
</style>
</head>
<body>

<section id="contact">
        <div class="container">
             <div class="transbox">
                <h2 class="text-center">Contact us</h2>
                <p class="text-center">Message us on instagram @andrewnyuchicamera </p>
            </div>
        </div>
    </section>
